<h2>new todo</h2>
<form action="/todo/create">
    <input class="text-input" id="new-todo-description" type="number" name = "pomodoro_estimate" placeholder="Type total pomodoro">
    <input class="text-input" id="new-pomodoro-estimate" type="text" name = "description" placeholder="Type what subject">
    <input class="button" id="add-new-todo-button" type="submit" name= "complete" value="Add todo">
</form>
  