 
    <h2>Todo#<%= params[:id]%></h2>
    <title>Assignments Details</title>
        <div><span>
          <%=@todo_description%>
            </span>
            <span class="pomodoro-estimate" id=show_span> <%= @todo_pomodora_estimate%> pomodoros</span>
            
        </div>
 
