 
    <h2>Todo#<%= params[:id]%></h2>
    <title>Assignments Details</title>
        <div id='Estimate'><span>
          <%=@todo.description%>
            </span>
            <span class="pomodoro-estimate" id=show_span> <%= @todo.pomodoro_estimate%> pomodoros</span>
            </div>
            <div>
            <a href="#" class="button" id="edit-todo-button">Edit</a>
            <a href="#" class="button" id="delete-todo-button">Delete</a>
            <a href="/todo/index"class="simpple-link">Go back...</a>

            </div>
 
